/* Drago Help Styles */

//body { background: url(Texture.jpg) }

p, h1, h2, h3, h4, h5, li, td, a { font-family: Arial, sans-serif; color: black }
p, li, td { font-size: 10pt }

h1 { font-size: 24pt; font-weight: bold }
h2 { font-size: 18pt; font-weight: bold }
h3 { font-size: 12pt; font-weight: bold }
h4 { font-size: 10pt; font-weight: bold; font-style: italic }
h5 { font-size: 10pt; font-weight: bold }
li { line-height: 150% }
td { vertical-align: middle }

a:link    { color: blue }
a:active  { color: maroon }
a:visited { color: blue }

ul.none {list-style-type: none;}
ol      {list-style-type: none; padding-left: 3; }
