; Predefined game engine configuration

; The following parameters are defined as engine command line arguments (arg) or as gtp commands (gtp):

; connection      arg
; level           arg
; boardsize       arg
; chinese.rules   arg or gtp 
; japanese.rules  arg or gtp
; time.per.move   arg or gtp 
; total.time      arg or gtp
; overtime        arg
; additional      arg

; The keywords arg and gtp prefix the arguments as in the following definitions.
; A star '*' in a parameter will be replaced by the relevant value.
; 'not.required' describes a feature present and handled by default actions.
; 'not.handled'  describes an absent feature.
; A parameter absent or left empty is considered as 'not.handled'.

[Aya]
url            = http://www32.ocn.ne.jp/~yss/index.html
connection     = arg:--mode gtp
level          = not.handled
boardsize      = not.required
chinese.rules  = not.handled
japanese.rules = not.required
time.per.move  = not.handled
total.time     = not.handled
overtime       = not.handled

[DariushGTP]
url            = http://ricoh51.free.fr/go/engine.htm
connection     = not.required
level          = arg:--level *
boardsize      = not.required
chinese.rules  = arg:--rules chinese
japanese.rules = arg:--rules japanese
time.per.move  = not.handled
total.time     = not.handled
overtime       = not.handled

[Fuego]
url            = http://gnugo.baduk.org/
connection     = not.required
level          = not.handled
boardsize      = not.required
chinese.rules  = gtp:go_param_rules japanese_scoring 0
japanese.rules = gtp:go_param_rules japanese_scoring 1
time.per.move  = gtp:go_param timelimit *
total.time     = not.handled
overtime       = not.handled

[Go169]
url            = http://www.cis.hut.fi/praiko/go169/
connection     = not.required
level          = not.handled
boardsize      = not.required
chinese.rules  = not.required
japanese.rules = not.handled
time.per.move  = not.handled
total.time     = not.handled
overtime       = not.handled

[Gnu Go]
url            = http://gnugo.baduk.org/
connection     = arg:--mode gtp
level          = arg:--level *
boardsize      = not.required
chinese.rules  = arg:--chinese-rules
japanese.rules = arg:--japanese-rules
time.per.move  = not.required
total.time     = not.required
overtime       = not.required

; By default, MoGo displays a lot of information for each move. This causes 
; losses on time when playing with timing. For this reason, the dontDisplay
; parameter is added here.

[MoGo]
url            = http://www.lri.fr/~gelly/MoGo_Download.htm
connection     = not.required
level          = not.handled
boardsize      = arg:--*
chinese.rules  = not.required
japanese.rules = not.handled
time.per.move  = arg:--time *
total.time     = arg:--totalTime *
overtime       = not.handled
additional     = arg:--dontDisplay 1

[Pachi]
url            = http://pachi.or.cz/
connection     = not.required
level          = not.handled
boardsize      = not.required
chinese.rules  = not.required
japanese.rules = not.handled
time.per.move  = not.required
total.time     = not.required
overtime       = not.required
additional     = arg:-d 0

